@charset "UTF-8";

body{
    background-color: rgb(106, 221, 131);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green;
}

h1#principal{
    color: blueviolet;
    text-align: center;
}

h2{
    color: grey;
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}